<p style="text-align: center; background: #ffcccc; padding: 1.125rem 0; border-radius: 3px;"><strong>$45.00</strong> minimum for checkout</p>
<a href="/collections/all" style="display: flex; justify-content: center;" class="button">Continue Shopping</a>