<link rel="stylesheet" href="{{ 'section-corp-account-ad.aio.min.css' | asset_url }}" media="print" onload="this.media='all'">

<section id="shopify-section-[id]" class="shopify-section corp-account-ad">
  <div class="corp-account-ad-container" style="text-align: center; padding: 0 4rem; margin: 6rem 0 0;">
    <div class="es-desktop">
      <a href="https://www.excelsolutions.com/pages/registration"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Corporate-Account-994-1-min.jpg?v=1686384346" alt="Corporate Account" width="75%"></a>
    </div>
    <div class="es-tablet">
      <a href="https://www.excelsolutions.com/pages/registration"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Corporate-Account-780-1-min.jpg?v=1686384346" alt="Corporate Account" width="75%"></a>
    </div>
    <div class="es-mobile">
      <a href="https://www.excelsolutions.com/pages/registration"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Corporate-Account-350-1-min.jpg?v=1686384346" alt="Corporate Account" width="75%"></a>
    </div>
  </div>
</section>
  
{% schema %}
{
  "name": "Corporate Accounts Ad",
  "tag": "section",
  "class": "corp-account-ad",
  "presets": [
    {
      "name": "Corporate Accounts Ad",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}