<script src="https://kit.fontawesome.com/dbbe6068ed.js" crossorigin="anonymous"></script>

<style>
  .es-aia-ind .es-div-cont.es-dc3 {
    margin-bottom: 2rem;
    height: 6rem;
    overflow: hidden;
  }
  .es-aia-ind .es-div-row {
    margin: 0 1rem 2rem;
  }
  .es-aia-ind i {
    display: block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #1d3961;
    text-align: center;
    color: #fff;
    border-radius: 50%;
    font-size: 2.2rem;
    margin-right: 1rem;
  }
  .es-aia-ind h3 {
    display: table-cell;
    padding: 6px 9px 6px;
    vertical-align: middle;
    color: #1d3961;
  }
  span.aia-icon {
    display: table-cell;
    vertical-align: middle;
  }
</style>

<section id="es-aia-ind" class="shopify-section es-aia-ind">
  <div class="page-width">
    <div class="es-div-row">
      <div class="es-div-cont">
        <div class="es-div-cont es-dc3">
          <span class="aia-icon"><i class="fa-solid fa-bottle-water"></i></span>
          <h3>Beverage and Bottling Operations</h3>
        </div>
        <div class="es-div-cont es-dc3">
          <span class="aia-icon"><i class="fa-solid fa-snowflake"></i></span>
          <h3>Food Processing and Cold Storage</h3>
        </div>
        <div class="es-div-cont es-dc3">
          <span class="aia-icon"><i class="fa-solid fa-boxes-stacked"></i></span>
          <h3>Warehousing and Distribution</h3>
        </div>
        <div class="es-div-cont es-dc3">
          <span class="aia-icon"><i class="fa-solid fa-car"></i></span>
          <h3>Automotive and Manufacturing</h3>
        </div>
        <div class="es-div-cont es-dc3">
          <span class="aia-icon"><i class="fa-solid fa-helmet-safety"></i></span>
          <h3>Commercial and Industrial Projects</h3>
        </div>
        <div class="es-div-cont es-dc3">
          <span class="aia-icon"><i class="fa-solid fa-truck-front"></i></span>
          <h3>Transport and Logistics</h3>
        </div>
      </div>
    </div>
  </div>
</section>
  
{% schema %}
{
  "name": "ES AIA Industries",
  "tag": "section",
  "class": "es-aia-ind",
  "presets": [
    {
      "name": "ES AIA Industries",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}