<link rel="stylesheet" href="{{ 'section-es-industries.aio.min.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="https://kit.fontawesome.com/dbbe6068ed.js" crossorigin="anonymous"></script>

<section id="about-quad" class="shopify-section about-quad">
  <div class="industries">
    <div class="page-width-desktop">
      <div class="grid">
        <div class="grid-wrapper">
          <div class="grid-box">
            <div class="grid-box-inner">
              <div class="wrapper">
                <div class="icon-box">
                  <div class="ind-icon" style="width: 78px;">
                    <i style="font-size: 24px;" class="fa-solid fa-shield-halved"></i>
                  </div>
                  <div class="ind-text">
                    <h4>Beverage &amp; Bottling<br/>Operations</h4>
                    <p>We have the skills and knowledge to make sure you pass every equipment related inspection and maintain the right temperature.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-box">
            <div class="grid-box-inner">
              <div class="wrapper">
                <div class="icon-box">
                  <div class="ind-icon" style="width: 78px;">
                    <i style="font-size: 24px;" class="fa-solid fa-certificate"></i>
                  </div>
                  <div class="ind-text">
                    <h4>Food Processing<br/>&amp; Cold Storage</h4>
                    <p>We consider all factors of safe &amp; clean food operations &#8211; from the ground up &#8211; and make sure you&#8217;re protected from the elements.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-box">
            <div class="grid-box-inner">
              <div class="wrapper">
                <div class="icon-box">
                  <div class="ind-icon" style="width: 78px;">
                    <i style="font-size: 24px;" class="fa-solid fa-star"></i>
                  </div>
                  <div class="ind-text">
                    <h4>Manufacturing<br/>Facilities</h4>
                    <p>We focus on helping clients reduce costs associated with their equipment by providing the most productive and effective solutions.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="grid-box">
            <div class="grid-box-inner">
              <div class="wrapper">
                <div class="icon-box">
                  <div class="ind-icon" style="width: 78px;">
                    <i style="font-size: 24px;" class="fa-solid fa-gem"></i>
                  </div>
                  <div class="ind-text">
                    <h4>New Construction<br/>Projects</h4>
                    <p>We work across all of the major industries, which means we understand the underlying drivers of each construction project.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
{% schema %}
{
  "name": "ES About",
  "tag": "section",
  "class": "about-quad",
  "presets": [
    {
      "name": "ES About",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}