<section id="es-svc-pg" class="shopify-section es-svc-pg">
  <div class="page-width">
    <div class="es-div-row">
      <div class="es-div-cont">
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/dock-door-edge-lights?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Loading Dock Safety Edge Lights</h4></a>
          <p>Enhance your loading dock communication with safety edge lights. They mount above the interior dock door, and flash red or green for a clear signal on the status of your dock.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/dock-leveler-hydraulic-conversion?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Dock Leveler Hydraulic Conversion</h4></a>
          <p>The simple conversion of a mechanical dock leveler to a push-button hydraulic dock leveler offers the lowest cost and maintenance of operating a leveler, and added safety features.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/idock%E2%84%A2-controller-upgrade?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>iDock Controller Upgrade</h4></a>
          <p>iDock Controls by Poweramp® offer insight on the use, maintenance, and data of your loading dock. They provide errors, instructions, and a 3-in-1 LED communication light.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/dock-leveler-tough-strut?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Dock Leveler Tough Strut</h4></a>
          <p>The Poweramp® Tough Strut provides added safety and platform support when your leveler is undergoing maintenance. It mounts between the leveler and pit to prevent collapse.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/loading-dock-weatherseals?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Dock Leveler &amp; Door Weatherseals</h4></a>
          <p>Loading dock leveler and dock door weatherseals prevent air, insects, and rodents from entering your facility, and provide for added energy savings (especially if you have many docks).</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/dock-leveler-hold-down-upgrade?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Dock Leveler Hold-Down Upgrade</h4></a>
          <p>Secure your dock leveler from popping up with a simple hold-down upgrade. This proactive measure ensures your leveler is secure and does not prevent you from closing your dock door.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/dock-leveler-pit-pans?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Loading Dock Steel Pit Pans</h4></a>
          <p>Replacing your rusted and bent loading dock pit pans, curb angle, and busted concrete enhances personnel safety, facility security, and the visual appeal of your facility's loading docks.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/loading-dock-lights?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Loading Dock Lights</h4></a>
          <p>Dock communication lights and trailer lights allow for added safety for your dock personnel. Lights enhance your productivity and OSHA compliance, available in LED or incandescent.</p>
        </div>
        <div class="es-div-cont es-dc3">
          <a href="https://shop.excelsolutions.com/products/loading-dock-bumpers?utm_source=copyToPasteBoard&utm_medium=product-links&utm_content=web"><h4>Loading Dock Bumpers</h4></a>
          <p>Prevent trucks from hitting your wall by replacing dock bumpers that are falling off your wall. They are available in many sizes and materials (rubber, steel-faced, molded, and more).</p>
        </div>
      </div>
    </div>
  </div>
</section>
  
{% schema %}
{
  "name": "ES Svc Upgrades",
  "tag": "section",
  "class": "es-svc-upgrades",
  "presets": [
    {
      "name": "ES Svc Upgrades",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}