<section id="es-svc-pg" class="shopify-section es-svc-pg">
  <div class="page-width">
    <div class="blq-section">
      <div class="blq-wrap">
        <div class="blq-text">
          <blockquote>When you're ready to discuss the details of how Excel can fulfill your service standards and requirements, feel free to <a href="https://www.excelsolutions.com/contact-us/">drop us a line</a> - we're always available</blockquote>
        </div>
      </div>
    </div>
    <div class="so-accordion-wrapper">
      <div class="so-tab">
        <input id="so-tab-1" type="checkbox" name="tabs"> 
        <label for="so-tab-1"><h3>Competence Through Expertise</h3></label>
        <div class="so-tab-content">
          <p>Whether or not you already know it, a great deal of knowledge is required to outfit a facility with proper equipment and make sure it operates as intended. Instead of blindly delivering equipment, we gather the preliminary data necessary to provide the correctly spec’d equipment for your project. Doing so not only saves you in costs associated with efficiency, but it also ensures you receive the most from your purchase and keeps you from buying the product again prematurely. One great example is <a href="https://www.excelsolutions.com/products/dock-seals-shelters/">loading dock seals</a>. Dock seals require custom fitting to your loading docks with many characteristics taken into account. Without the right information regarding your operations, incorrectly sized dock seals could be purchased and installed, leading to large building gaps and energy loss.</p>
        </div>
      </div>
      <div class="so-tab">
        <input id="so-tab-2" type="checkbox" name="tabs"> 
        <label for="so-tab-2"><h3>Tailored Solutions for Your Operations</h3></label>
        <div class="so-tab-content">
          <p>Your operations are unique to your production and facility needs to deliver an unmatched product, which begs the question: why shouldn’t your loading docks be unique as well? Your loading docks are the first and last area to see product and materials entering and leaving your facility. Excel understands the importance of efficient and safe operations, and has the people with knowledge and skills ready to deliver on an excellent loading dock design. Having a properly designed loading dock with the properly spec’d equipment not only reduces costs through energy savings and improved productivity, but it also saves you from replacing your equipment prematurely.</p>
        </div>
      </div>
      <div class="so-tab">
        <input id="so-tab-3" type="checkbox" name="tabs"> 
        <label for="so-tab-3"><h3>Skilled Technicians at Competitive Prices</h3></label>
        <div class="so-tab-content">
          <p>Dealing with an equipment supplier without properly trained technicians could be a large loss to your organization. Without knowledgeable technicians performing repairs on your equipment, problems with your equipment could go unsolved or missed and incorrect parts ordered, leading to losses in time and money. Excel only works with competent technicians without gouging our clients’ pockets – the only way to conduct business.</p>
        </div>
      </div>
    </div>
  </div>
</section>
  
{% schema %}
{
  "name": "ES Service Page",
  "tag": "section",
  "class": "es-svc-pg",
  "presets": [
    {
      "name": "ES Service Page",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}