<link rel="stylesheet" href="{{ 'section-logo-slider.aio.min.css' | asset_url }}" media="print" onload="this.media='all'">

<section id="shopify-section-[id]" class="shopify-section partners-logos">
  <div class="partners-logos-containers">
    <div class="partners-logos-sub">
      <a href="https://www.poweramp.com"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Poweramp-Logo-360.jpg?v=1676344244" alt="Poweramp Dock Levelers" width="166.33" height="88.7"></a>
    </div>
    <div class="partners-logos-sub">
      <a href="https://www.dynacodoor.us"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Dynaco-Logo-360.jpg?v=1676344664" alt="Dynaco Speed Roll-up Doors" width="166.33" height="88.7"></a>
    </div>
    <div class="partners-logos-sub">
      <a href="https://www.copperloy.com"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Copperloy-Logo-360.jpg?v=1676344692" alt="Copperloy Dock Ramps and Lifts" width="166.33" height="88.7"></a>
    </div>
    <div class="partners-logos-sub">
      <a href="https://www.fairbornusa.com"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/Fairborn-Logo-360.jpg?v=1676393384" alt="Fairborn Dock Door Seal Pads" width="166.33" height="88.7"></a>
    </div>
    <div class="partners-logos-sub">
      <a href="https://www.pflow.com"><img loading="lazy" src="https://cdn.shopify.com/s/files/1/0551/6866/3704/files/PFlow-Ind-Logo-360.jpg?v=1676393437" alt="PFlow Freight Lifts" width="166.33" height="88.7"></a>
    </div>
  </div>
</section>
  
{% schema %}
{
  "name": "ES Partners Logos",
  "tag": "section",
  "class": "partners-logos",
  "presets": [
    {
      "name": "ES Partners Logos",
      "category": "Text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}