.card {
  display: block;
  overflow: hidden;
  text-decoration: none;
}

.card + .card-information {
  margin-top: 1.3rem;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  width: 100%;
  display: flex;
}

.card.card--soft {
  background-color: rgba(var(--color-foreground), 0.04);
  color: rgb(var(--color-foreground));
}

.card__text {
  display: flex;
  align-items: center;
}

.card .icon-arrow {
  width: 1.5rem;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card .h1 .icon-arrow,
.card .h2 .icon-arrow {
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
}

.card--media {
  display: block;
  text-decoration: none;
}

.card--media:hover h2.h3 {
    text-decoration: underline;
}

.card--media:hover h3.grid_title {
    text-decoration: underline;
}

.card--text-only {
  display: flex;
  justify-content: center;
}

.card--text-only::before {
  content: '';
  display: block;
  padding-bottom: 100%;
}

.card--product {
  border: 0;
  position: relative;
}

.card.card--product:focus {
  box-shadow: none !important;
}

.card--stretch {
  height: 100%;
}

.card--light-border {
  animation: none;
}

.card--light-border:hover {
  /*border: 0.1rem solid rgba(var(--color-foreground), 0.3);*/
  /*box-shadow: none;*/
  box-shadow: 0 0 15px #999 !important;
  border: 1px solid #e6e6e6 !important;
}

.card__text-spacing {
  padding: 3rem;
}

.card--media .card__text-spacing {
  padding: 2rem 1rem 1rem;
}

/* Custom CSS */

.card__text.card__text-spacing.card__text-hover .h3 {
  font-size: 1.8rem !important;
  margin: 0 auto;
  text-align: center;
}

.card-information__text.h5 {
  font-size: 1.5rem;
  flex-grow: 1;
}

/* End Custom CSS */

@media screen and (min-width: 750px) {
  .card--media .card__text-spacing {
    padding: 2rem 1rem 1rem;
  }
}

.card-information > * + * {
  margin-top: 0.5rem;
}

.card--text-only .card__inner {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  width: 100%;
}

.card__content {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.card__content > * {
  margin: 0;
}

.card--text-only .card__content {
  grid-row: 2;
  justify-self: center;
  margin-bottom: 6rem;
  margin-top: 5rem;
}

.card--text-only .card__badge {
  align-self: flex-end;
  grid-row: 3;
}

.card--search .card__badge > *,
.card--text-only .card__badge > * {
  margin: 0 1.2rem 1.2rem;
}

.card--search .card__badge,
.card--text-only .card__badge {
  position: initial;
}

.card--text-only .card__content + .card__badge {
  margin-top: -5rem;
}

.card--search .card__content {
  justify-self: flex-start;
  text-align: left;
}

.media + .card__content {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 750px) {
  .card--text-only .card__content {
    margin-top: 7rem;
    margin-bottom: 7rem;
  }

  .card--text-only .card__content + .card__badge {
    margin-top: -7rem;
  }
}

.card__text-spacing > * {
  margin: 0;
}

.card__text-spacing > *:not(.overlay-card) + * {
  margin-top: 1.5rem;
}

.card__text {
  margin: 0;
  word-break: break-word;
}

.card--text-only .card__text {
  text-align: center;
}

.card-information__text {
  /*display: block;*/
  display: -webkit-box;
  padding-right: 0;
  font-family: Roboto;
  overflow: hidden;
  -webkit-box-orient: vertical;
  letter-spacing: normal;
  -webkit-line-clamp: 4;
}

.card-information__wrapper {
    width: 100%;
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
}

.card-information__wrapper .price {
    margin-top: 1.5rem !important;
}

.card-information__wrapper > * {
  line-height: 1.4;
  color: rgb(var(--color-foreground));
}

.card-information__wrapper > .price {
  color: rgb(var(--color-foreground));
}

.card-information__wrapper > *:not(.visually-hidden:first-child) + * {
  margin-top: 1rem;
}

.card-information__wrapper .caption {
  letter-spacing: normal;
}

.caption-with-letter-spacing.light {
  margin-top: 1.3rem;
  font-weight: 700;
}

.card-wrapper {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 1.5rem;
  flex-grow: 1;
  border: 0.1rem solid #dddddd;
  overflow: hidden;
  transition: 100ms;
  border-bottom: 2px solid #fcb900;
}

.svcs-card-wrapper {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
  flex-grow: 1;
  overflow: hidden;
  transition: 100ms;
}

@media (max-width: 567px) {
  .card-wrapper {
    padding: 1rem !important;
  }
}

@media (max-width: 567px) {
  .svcs-card-wrapper {
    padding: 1rem !important;
  }
}

.card-wrapper img {
  object-fit:contain!important;
}

.svcs-card-wrapper img {
  object-fit:contain!important;
}

.card-wrapper .full-unstyled-link {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  position: relative;
}

.svcs-card-wrapper .full-unstyled-link {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;
}

.card-wrapper-offline {
  color: inherit;
  display: block;
  position: relative;
  text-decoration: none;
  padding: 3rem 2rem;;
  flex-grow: 1;
  border-bottom: 0.2rem solid #dddddd;
  overflow: hidden;
}

.grid__item-offline:last-child .card-wrapper-offline {
    border-bottom: 0;
}

.card-wrapper:hover {
  -webkit-box-shadow: 0px 0px 13px -3px rgb(0 0 0 / 34%);
  box-shadow: 0px 0px 13px -3px rgb(0 0 0 / 34%);
}

.card-wrapper:focus-within .card, .svcs-card-wrapper:focus-within .card {
  box-shadow: none;
}

.card-wrapper-offline:focus-within .card, .svcs-card-wrapper-offline:focus-within .card {
  box-shadow: none;
}

.card__media-spacer {
  padding: 1rem 1rem 0;
}

@media screen and (min-width: 1000px) {
  .card__media-spacer {
    padding: 4rem 3rem 0;
  }
}

.card__media-full-spacer {
  /*padding: 2rem;*/
}

.card-article-info {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.card__badge {
  bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  left: 1rem;
  position: absolute;
  visibility: hidden;
}

.card__badge > * {
  margin-right: 1rem;
  margin-top: 0.5rem;
}

.overlay-card {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: transparent;
  transition: background-color var(--duration-long) ease;
}

.card:hover .card-colored .overlay-card {
  background-color: rgba(var(--color-card-hover), 0.06);
}

@media screen and (min-width: 990px) {
  .card .media.media--hover-effect > img:only-child,
  .card-wrapper .media.media--hover-effect > img:only-child,
  .svcs-card-wrapper .media.media--hover-effect > img:only-child,
  .card-wrapper-offline .media.media--hover-effect > img:only-child {
    transition: none;
  }

  .card:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect > img:first-child:only-child,
  .svcs-card-wrapper:hover .media.media--hover-effect > img:first-child:only-child,
  .card-wrapper-offline:hover .media.media--hover-effect > img:first-child:only-child {
    transform: none !important;
  }

  .card-wrapper:hover
    .media.media--hover-effect
    > img:first-child:not(:only-child),
  .svcs-card-wrapper:hover
    .media.media--hover-effect
    > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper-offline:hover
    .media.media--hover-effect
    > img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper:hover .media.media--hover-effect > img + img,
  .svcs-card-wrapper:hover .media.media--hover-effect > img + img,
  .card-wrapper-offline:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: none !important;
  }

  .card-wrapper:hover .card-information__text,
  .svcs-card-wrapper:hover .card-information__text,
  .card-wrapper-offline:hover .card-information__text {
    text-decoration: none;
    text-underline-offset: 0.15rem;
  }

  .card-wrapper:hover .card__text,
  .svcs-card-wrapper:hover .card__text,
  .card-wrapper-offline:hover .card__text {
    transition: var(--duration-long) ease;
    transform: none !important;
  }

  .card--search img {
    transition: transform var(--duration-default) ease;
  }
  
  .card-wrapper:hover .card--search img,
  .svcs-card-wrapper:hover .card--search img,
  .card-wrapper-offline:hover .card--search img {
    transform: none !important;
  }
  
  .card-wrapper:hover .card__heading,
  .svcs-card-wrapper:hover .card__heading,
  .card-wrapper-offline:hover .card__heading {
    text-decoration: underline;
    text-underline-offset: 0.15rem;
  }
  
  .card-wrapper:hover .card.card--search,
  .svcs-card-wrapper:hover .card.card--search,
  .card-wrapper-offline:hover .card.card--search {
    background-color: rgba(var(--color-card-hover), 0.06);
    transition: background-color var(--duration-long) ease;
  }
}


/* Custom CSS */

h3.grid_title {
  margin: 0 auto; 
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
}

.offline-row:after {
    content: "";
    display: table;
    clear: both;
}

.offline-item-column {
    float: left;
}

.offline-item-column.o-left {
    width: 30%;
}

.offline-item-column.o-right {
    width: 70%;
    padding: 1rem 0 0 4rem;
}

.offline-item-column .card-information__text.h5 {
    font-family: Rubik, sans-serif;
    font-size: 2rem;
}

@media screen and (max-width: 750px) {
  .offline-item-column.o-left {
    width: 100%;
  }
  .offline-item-column.o-right {
    width: 100%;
    padding: 1.5rem 0 3rem 0;
  }
  .card-wrapper-offline {
    padding: 0;
    margin-bottom: 3rem;
  }
}

.svcs-card-wrapper .card-information__text.h5 {
  font-family: 'Rubik';
  color: #1d3961;
  margin-bottom: 0 !important;
}

.svcs-card-wrapper .card-information__text.h5:before {
  content: '';
  display: block;
  width: 47px;
  height: 5px;
  background: #fcb900;
  margin: 13px 0 16px;
}

div#svcs-more-link .full-unstyled-link {
  flex-direction: row;
  align-items: center;
  font-size: 1.2rem;
}

div#svcs-more-link {
  font-family: 'Rubik';
  color: #1d3961;
}

#svcs-more-link svg {
  width: 11px;
  height: 11px;
  margin-left: 5px;
}

#ServicesProductGrid li.grid__item {
  padding: 0 3rem 2rem 3rem;
}

@media only screen and (max-width: 749px) {
  #ServicesProductGrid li.grid__item {
    padding: 0;
  }
}

ul#services-collection-product-grid {
  margin-left: 0rem;
  margin-right: 0rem;
  margin-top: 7rem !important;
}

