.rte:after {
  clear: both;
  content: '';
  display: block;
}

.rte > p:first-child {
  margin-top: 0;
}

.rte > p:last-child {
  margin-bottom: 0;
}

.rte table {
  table-layout: fixed;
}

@media screen and (min-width: 750px) {
  .rte table td {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
}

.rte img {
  height: auto;
  max-width: 100%;
}

.rte ul {
  padding-left: 2rem;
}

.rte li {
  list-style: inherit;
}

.rte li:last-child {
  margin-bottom: 0;
}

.rte a {
  color: rgba(var(--color-link), var(--alpha-link));
  transition: background var(--duration-short) ease;
  text-underline-offset: 0.15rem;
}

.rte a:hover {
  color: rgb(var(--color-link));
  background: rgb(50,151,253,0.2);
  text-decoration: none;
}

.rte blockquote {
  display: inline-flex;
}

.rte blockquote > * {
  margin: -0.5rem 0 -0.5rem 0;
}

.esnt {
  padding: 0 2rem 2rem;
}

@media (max-width: 749px) {
  .esnt {
    padding: 0 0 2rem;
  }
}

@media (max-width: 567px) {
  #es-svc-truck, #es-req-svc {
    width: 100%;
    height: 100%;
  }
}
