.es-mc-3peat .title {
  margin: 0;
}

.es-mc-3peat.no-heading .title-wrapper-with-link {
  display: none;
}

@media screen and (max-width: 749px) {
  .es-mc-3peat.no-heading.background-secondary {
    padding-top: 5rem;
  }
}

@media screen and (min-width: 750px) {
  .es-mc-3peat.no-heading:not(.background-secondary) {
    margin-top: 6rem;
  }
}

.es-mc-3peat.background-secondary .title-wrapper-with-link {
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .es-mc-3peat .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}

.es-mc-3peat-card__image-wrapper--third-width {
  width: 33%;
}

.es-mc-3peat-card__image-wrapper--half-width {
  width: 50%;
}

.es-mc-3peat-list__item.center
  .es-mc-3peat-card__image-wrapper:not(.es-mc-3peat-card__image-wrapper--full-width),
.es-mc-3peat-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.es-mc-3peat .button {
  margin-top: 1.5rem;
}

.es-mc-3peat-icon {
  display: flex;
  float: left;
}

.es-mc-3peat-icon svg {
    margin: 0.7rem 0.5rem 0 0;
    width: 45px !important;
    height: 45px !important;
    fill: none;
    color: #fcb900;
}

.es-mc-3peat-card__info-inner1 i {
    margin: 1.2rem 1rem 0 0;
    fill: none;
    color: #fcb900;
    font-size: 33px;
}

.es-mc-3peat .rte::after {
    clear: none;
}

.es-mc-3peat h2 {
    color: #ffffff;
    font-size: 1.5rem;
    margin-bottom: 2.2rem !important;
}

.es-mc-3peat a,
.es-mc-3peat p {
    color: #ffffff;
    font-size: 1.2rem;
}

.es-mc-3peat-list h2,
.es-mc-3peat-list p {
  margin: 0;
}

.es-mc-link {
  padding: 2.3rem 0 0;
  display: flex;
  font-family: Rubik;
}

.es-mc-link a {
  color: #fcb900;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: .3px;
  line-height: 1.1;
  transition: 100ms;
}

.es-mc-link svg {
  display: block;
  margin: 0 auto;
  text-align: center !important;
  height: 12px !important;
}

@media screen and (max-width: 999px) {
  .es-mc-link {
    max-width: fit-content;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .es-mc-3peat .button {
    margin-top: 4rem;
  }
}

.es-mc-3peat-list {
  padding: 0;
  margin: 0 0 0 -4rem;
}

li.es-mc-3peat-list__item.grid__item {
    padding-left: 4rem;
}

.es-mc-3peat-list__item:only-child {
  max-width: 72rem;
}

.es-mc-3peat:not(.background-none) .es-mc-3peat-card {
  background: rgba(var(--color-foreground), 0.04);
  height: 100%;
}

.es-mc-3peat.background-secondary .es-mc-3peat-card {
  background: rgb(var(--color-background));
}

.es-mc-3peat.background-secondary {
  padding: 4rem 0 5rem;
}

.es-mc-3peat:not(.background-secondary) {
  margin: 6rem 0;
}

.es-mc-3peat-card-spacing {
  padding-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

.es-mc-3peat-card__info > :nth-child(2) {
  margin: 2rem 0 0 0 !important;
}

.es-mc-3peat-list__item.center .media--adapt,
.es-mc-3peat-list__item .media--adapt img {
  width: auto;
}

.es-mc-3peat-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 749px) {
  .es-mc-3peat .page-width {
    padding: 0;
  }

  .es-mc-3peat-list {
    margin: 0;
    width: 100%;
  }

  .es-mc-3peat-list__item {
    margin: 0 0 1rem;
    padding: 0;
  }

  .es-mc-3peat-list:not(.slider) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .es-mc-3peat-list.slider .es-mc-3peat-list__item {
    width: calc(100% - 3rem);
  }

  .es-mc-3peat-list.slider .es-mc-3peat-list__item + .es-mc-3peat-list__item {
    padding-left: 0.5rem;
  }
}

@media screen and (min-width: 750px) {
  .es-mc-3peat-list.slider,
  .es-mc-3peat-list.grid--4-col-desktop {
    padding: 0;
  }

  .es-mc-3peat-list__item,
  .grid--4-col-desktop .es-mc-3peat-list__item {
    padding-bottom: 0;
  }

  .grid--2-col-tablet .es-mc-3peat-list__item {
    margin-top: 1rem;
    max-width: 50%;
  }

  .background-none .grid--2-col-tablet .es-mc-3peat-list__item {
    margin-top: 4rem;
  }

  .grid--2-col-tablet .es-mc-3peat-list__item:nth-of-type(-n + 2) {
    margin-top: 0;
  }
}

@media screen and (min-width: 990px) {
  .grid--2-col-tablet.grid--4-col-desktop .es-mc-3peat-list__item {
    max-width: 25%;
  }

  .grid--2-col-tablet.grid--4-col-desktop
    .es-mc-3peat-list__item:nth-of-type(-n + 4) {
    margin-top: 0;
  }
}

.background-none .es-mc-3peat-card-spacing {
  padding: 0;
  margin: 0;
}

.es-mc-3peat-card__info {
    padding: 2.5rem 3rem 2.5rem 2rem;
    display: grid !important;
    grid-template-columns: 22% 78% !important;
    grid-template-rows: auto !important;
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;
}

.es-mc-3peat-card__info-inner1 {
    grid-area: 1 / 1 / 2 / 2 !important;
    justify-self: end !important;
    width: fit-content !important;
}

.es-mc-3peat-card__info-inner2 {
    grid-area: 1 / 2 / 2 / 3 !important;
}

.background-none .es-mc-3peat-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
}

.background-none .es-mc-3peat-card__image-wrapper + .es-mc-3peat-card__info {
  padding-top: 2.5rem;
}

.background-none .slider .es-mc-3peat-card__info {
  padding-left: 0.5rem;
}

.background-none
  .slider
  .es-mc-3peat-card__image-wrapper
  + .es-mc-3peat-card__info {
  padding-left: 1.5rem;
}

.background-none
  .es-mc-3peat-list:not(.slider)
  .center
  .es-mc-3peat-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (min-width: 750px) {
  .background-none .es-mc-3peat-card__image-wrapper {
    margin: 0;
  }

  .background-none .es-mc-3peat-list .es-mc-3peat-card__info,
  .background-none
    .es-mc-3peat-list:not(.slider)
    .center
    .es-mc-3peat-card__info {
    padding: 2.5rem 3rem 2.5rem 2rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1100px) {
  .background-none .es-mc-3peat-list .es-mc-3peat-card__info,
  .background-none .es-mc-3peat-list:not(.slider) .center .es-mc-3peat-card__info {
    padding: 1.5rem 2rem 1.5rem 2rem;
    height: auto;
    transform: translateY(-50%);
    top: 50%;
  }
  .es-mc-3peat-card__info-inner1 i {
    margin: 0.1rem 1.5rem 0 0;
  }
  .es-mc-3peat-card__info>:nth-child(2) {
    margin: 1rem 0 0 0!important;
  }
}

@media (min-width: 750px) and (max-width: 999px) {
  .es-mc-3peat-list {
    margin: 0 0 0 -2rem;
  }

  li.es-mc-3peat-list__item.grid__item {
    padding-left: 2rem;
  }
  .es-mc-3peat .media {
    padding-bottom: 0 !important;
  }
  .es-mc-3peat-list__item .media--adapt img {
    width: 100%;
    object-fit: cover;
    position: absolute;
    height: 100%;
  }
  .background-none .es-mc-3peat-list .es-mc-3peat-card__info, .background-none .es-mc-3peat-list:not(.slider) .center .es-mc-3peat-card__info {
    padding: 1.5rem 1.5rem 1.5rem 1rem;
    position: relative;
  }
  .es-mc-3peat-card__info-inner1 {
    justify-self: center !important;
  }
  .es-mc-3peat-card__info-inner1 i {
    margin: 0.4rem 0.5rem 0 0;
    font-size: 28px;
  }
  .es-mc-3peat-card__info > :nth-child(2) {
    margin: 1rem 0 0 0 !important;
  }
  .es-mc-3peat h3 {
    font-size: 1.35rem;
    margin-bottom: 2.2rem !important;
    white-space: nowrap;
  }
  .es-mc-link {
    margin-left: 0;
  }
  .es-mc-3peat-card__info-inner2 .rte {
    max-width: 180px;
  }
}

@media (max-width: 749px) {
  .es-mc-3peat-list:not(.slider) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  li.es-mc-3peat-list__item.grid__item {
    padding-left: 0;
    margin: 0 0 2rem;
  }

  .es-mc-3peat .media {
    padding-bottom: 0 !important;
  }

  .media > *:not(.zoom, .deferred-media__poster-button) {
    width: 100% !important;
    height: 100%;
    object-fit: cover;
  }

  .background-none .es-mc-3peat-card__info {
    position: relative;
    padding: 1.4rem 2rem 2rem;
    grid-template-columns: 16% 84% !important;
  }
  .es-mc-3peat-card__info-inner1 {
    justify-self: center !important;
  }
  .es-mc-3peat-card__info-inner1 i {
    margin: 1.6rem 1rem 0 0;
    font-size: 24px;
  }
}