.rich-text {
  margin: auto;
  max-width: 110rem;
  text-align: center;
  width: calc(100% - 8rem);
}

.rich-text.rich-text--full-width {
  max-width: initial;
  width: 100%;
}

.rich-text__blocks {
  margin: auto;
  width: calc(100% - 5rem);
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text--full-width .rich-text__blocks {
  width: 100%;
  padding: 0 1rem;
}

.rich-text:not(.rich-text--full-width),
.rich-text--full-width.color-background-1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.rich-text:not(.color-background-1) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .rich-text {
    width: calc(100% - 8rem);
  }

  .rich-text__blocks {
    max-width: 100%;
  }

  .rich-text--full-width .rich-text__blocks {
    width: 100%;
    padding: 0 5rem;
  }
}

@media screen and (min-width: 990px) {
  .rich-text__blocks {
    max-width: 100%;
  }
}

/* Blocks */

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

/* Custom CSS */

.rich-text.rich-text--full-width.color-accent-2 {
    padding: 6rem 1rem 3.5rem;
    background: #ededee;
    text-align: left;
    color: #222222 !important;
}

.rich-text--full-width a {
    color: rgba(34,34,34,0.85) !important;
}

.rich-text--full-width a:hover {
    color: rgb(34,34,34) !important;
}

.es-help .rich-text.color-background-1 {
  background: #ffffff;
  color: #1d3961;
  border: 5px solid #1d3961;
  padding: 2.5rem 0 2.8rem;
}

.es-help h4.h3 {
  color: #1d3961;
  font-size: 3.6rem;
}

p.sku-help strong {
  text-decoration: underline;
}

p.sku-help {
    margin: 2rem 2.5rem 0 !important;
}

.es-help strong {
    color: inherit !important;
}

.es-help p {
    font-size: 2rem;
}

@media screen and (max-width: 999px) {
  .es-help .rich-text.color-background-1 {
    margin-left: 2rem;
    margin-right: 2rem;
    width: auto;
    padding: 2.5rem 2rem;
  }
  .rich-text.rich-text--full-width.color-accent-2 {
    padding: 3rem 1rem 3rem;
  }
}

@media screen and (max-width: 749px) {
  .es-help p {
    font-size: 1.6rem;
  }
  .es-help h4.h3 {
    font-size: 2.6rem;
  }
}
