.es-home-contact {
  padding: 60px 25px 44px !important;
  background-color: #222222 !important;
}

.es-home-contact h5.title {
  font-size: 36px;
  color: #ffffff;
  line-height: 38px;
  text-align: left;
  font-style: normal;
  margin: 0 0 15px 0 !important;
}

.eshf-row-column.e-left p {
  margin: 0 0 19px 0 !important;
  font-size: 1.4rem;
  color: #ffffff;
}

.eshf-row-column.e-right p {
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 12px 0;
  font-family: "Rubik";
  font-size: 1.4rem;
  padding: 0 15px;
}

.eshf-row-column.e-right .contact__button {
  margin: 0;
}

.eshf-row-column {
  float: left;
}

.eshf-row-column.e-left {
  width: 33.333333%;
  padding: 0 15px;
}

.eshf-row-column.e-right {
  width: 66.666666%;
  padding: 0 0 0 15px;
}

.eshf-row:after {
  content: "";
  display: table;
  clear: both;
}

.eshf-field {
  margin: 0 0 3rem;
  padding: 0 15px;
}

.es-home-contact img {
max-width: 100%;
}

.es-home-contact .form__message {
align-items: flex-start;
}

.es-home-contact .icon-success {
margin-top: 0.2rem;
}

.es-home-contact .field {
margin-bottom: 0rem;
}

.eshf-field select:focus {
  box-shadow: none !important;
  border: 0.2rem solid rgba(252,185,0,1) !important;
  background: #ffffff !important;
}

@media screen and (min-width: 750px) {
.es-home-contact .field {
  margin-bottom: 0rem;
}
}

.es-home-contact__button {
margin-top: 0rem;
}

@media screen and (min-width: 750px) {
.es-home-contact__button {
  margin-top: 4rem;
}
}

@media screen and (min-width: 750px) {
.es-home-contact .contact__fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0;
}
}

.grecaptcha-badge {
visibility: hidden;
}

.es-home-contact .form-status {
  color: rgb(235, 0, 27);
}

@media screen and (min-width: 750px) and (max-width: 999px) {
  .es-home-contact {
    padding: 50px 5px 34px!important;
  }
}

@media screen and (max-width: 750px) {
  .es-home-contact {
    padding: 40px 20px 24px !important;
  }

  .es-home-contact h5.title {
    font-size: 26px;
  }

  .eshf-row-column.e-left,
  .eshf-row-column.e-right {
    width: 100%;
    padding: 0;
  }

  .eshf-row-column.e-right p {
    padding: 0;
  }

  .eshf-field {
    padding: 0;
  }
}
